.form {
  padding: 3rem 3rem 0 3rem;
  width: 200%;

  @include respond(phone) {
    padding: 0;
    padding-top: 3rem;
  }

  &__group {
    margin-bottom: 1rem;
  }

  &__input {
    display: block;
    padding: 1rem 2rem;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 3px;
    width: 100%;

    color: $color-primary;
    font-weight: 500;
    font-size: 1.5rem;

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-alert;
      }
    }

    &:focus &::-webkit-input-placeholder {
      color: rgba($color-primary, 0.6);
      font-size: 1.5rem;
    }
  }

  &__label {
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.6s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
    position: relative;
  }
  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: 1.4rem;
    color: $color-primary;
    cursor: pointer;
    padding-left: 4rem;
    @include respond(old-phone) {
      padding-left: 2rem;
    }
  }

  &__radio-button {
    height: 2rem;
    width: 2rem;
    border: 3px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -0.1rem;
    left: 1.5rem;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}

.radio {
  font-size: 2rem;
  color: #333;
  display: flex;
  gap: 1rem;

  &__group {
    width: 100%;
  }

  &__input {
    display: none;
  }

  &__label {
    margin-left: 12rem;
    color: $color-primary;
    padding: 1rem 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @include respond(tab-port) {
      margin-left: 7rem;
    }

    @include respond(phone) {
      margin-left: 1.5rem;
    }

    @include respond(old-phone) {
      padding: 1rem;
    }
  }

  &__input:checked + &__label {
    background-color: rgba($color-primary, 0.5) !important;
    color: $color-white;
  }

  &__input:checked ~ form {
    display: block !important;
  }

  &__input:not(:checked) ~ form {
    display: none !important;
  }
}

.form-2 {
  transform: translateX(-37.5rem);
  @include respond(tab-port) {
    transform: translateX(-27.5rem);
  }
  @include respond(phone) {
    transform: translateX(-17.5rem);
  }

  @include respond(old-phone) {
    transform: translateX(-12.5rem);
  }
}
